.card{
    text-align: center;
    border: 2px solid;
    height: 250px;
    width: 175px;
    display: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    color: aliceblue;
    background-color: hsl(160, 100%, 55%);
}
.card:hover{
    background-color: hsl(160, 100%, 33%);

}